# dot files
.DS_Store

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock

# TSC
tsconfig.tsbuildinfo

# Scaffold
.env
.scaffold
build
logs

# Claude Code review reports
Claude-review.md
mine-w.md
Claude-review.md